.fondo-noticia{
    content: '';
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    height: 300px;

    background-image: url('../../img/noticias/portada.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .creador{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color:rgb(255, 255, 255);
        text-transform: uppercase;
        font-family: $fuenteSecundaria;
        font-size: 5rem;
        
    }
}

.noticia__contenedor{
    background-color: #0e0e1d;
    min-height: 100vh;
    margin: 0 auto;
    .noticia{       
        margin-top: 10rem;
        width: 95%;
        max-width: 120rem;
        margin: 0 auto;
        z-index: 99;
        position: relative;
        margin-top: -220px;
    }
    
    .imagen__noticia1{
        background-image: url(../../img/noticias/noticia-1/banner-noticia1.jpg);
        position: relative;
        background-size: cover;
        min-height: 50rem;
        border: 3px solid #202042;
    }

    .imagen__noticia2{
        background-image: url(../../img/noticias/noticia-2/banner-noticia2.jpeg);
        position: relative;
        background-size: cover;
        min-height: 50rem;
        border: 3px solid #202042;
    }
    .imagen__noticia3{
        background-image: url(../../img/noticias/noticia-2/banner-noticia2.jpeg);
        position: relative;
        background-size: cover;
        min-height: 50rem;
        border: 3px solid #202042;
    }
    .imagen__noticia4{
        background-image: url(../../img/noticias/noticia-2/banner-noticia2.jpeg);
        position: relative;
        background-size: cover;
        min-height: 50rem;
        border: 3px solid #202042;
    }

    .contenido__noticia{
        width: 95%;
        max-width: 120rem;
        margin: 10rem auto 0 auto;
        color:$blanco;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
        padding-bottom: 10rem;

        .noticia__titulo{
            text-transform: uppercase;
            font-family: $fuenteSecundaria;
            
            // text-align: center;
        }
        .noticia__autor{
            font-family: $fuenteTexto;
            font-style: italic;
            color:rgb(119, 119, 119);
        }
        .noticia__copete{
            font-weight: bolder;
            font-family: $fuenteTexto;
        }

        .noticia__texto{
            display: contents;
            font-family: $fuenteTexto;
            line-height: 1.6;
            
            img{
                margin: 3rem auto;
                text-align: center;
                width: 80rem;
                border: 3px solid #202042;
            }

            p{
                color: $blanco;
                text-transform:none;
                margin: 0 auto;
            }
        }
    }
    
}

