.body-teams{
    margin: 0;
    padding: 0;
}

.contenedor{
    
    color: $blanco;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

.inner-body{
    background-color: #121218;
    padding: 34px 30px;
    margin-bottom: 50px;
    color: white;

    p{
        font-size: .875em;
        font-weight: 500;
        line-height: 21px;
        color: #dadae0;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.jugador__inner{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    z-index: 9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;

    .rounded{
        width: 156px;
        height: auto;
    }

    figure{
        margin: 0 42px 0 54px;
        
    }

    img{
        width: 42rem;
        top: 0;
        margin-top: -4.2rem;

        
    }


    ul{
        list-style-type: none;
        color: rgb(101, 7, 252);
    }

    span{
        color:rgb(255, 255, 255);
        display: flex;
        vertical-align: middle;
        align-items: center;

        img{
            margin-left: 2rem;
            margin-top: 0;
        }
    }

    .jugador__detalle{
        padding: 1rem;
        border-radius: 21px;
    }
}

.flag{
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333em;
    line-height: 1em;
}

.jugadores__contenedor{
    margin-top: 10rem;
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    // height: 750px;
    z-index: 99;
    position: relative;
    margin-top: -420px;
}

.detalle__izq{
    color: #555555;
    ul{
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;;
    }

    li{
        padding: 16px 40px 16px 0;
        margin: 0 40px 0 0;
        border-right: 1px solid #333;
    }

    span{
        display: block;
        font-weight: 600;
        text-transform: uppercase;
        font-size: .75em;

        
    }
    span.name{
        color: #fff;
    }
}

.fondo-team{
    content: '';
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    height: 500px;
}

.jugador__top{
    padding-bottom: 28px;
    margin-bottom: 32px;
    border-bottom: 1px solid #333;

    .col-izq{
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-right: auto;
    }

    .col{
        display: -webkit-flex;
        display: flex;
    }
}

.jugador__bottom{

    color: #60626d;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

    .scroll-wrapper{
        overflow: hidden !important;
        padding: 0 !important;
        position: relative;
    }

    .scroll-content{
        border: none !important;
        box-sizing: content-box !important;
        height: auto;
        left: 0;
        margin: 0;
        max-height: none;
        max-width: none !important;
        overflow: scroll !important;
        padding: 0;
        position: relative !important;
        top: 0;
        width: auto !important;
    }

    .col-izq{
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-right: auto;
    }

    .col-der{

        ul{
            display: flex;
            padding: 0;
            margin: 0 auto;
            list-style-type: none;;
        }
    
        li{
            padding: 16px 0 16px 0;
            margin: 0 auto;

            img{
                width: 10rem;
                border-radius: 50%;
            }
        }

        max-width: 500px;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        margin-left: auto;

        .stats{
            display: -webkit-flex;
            display: flex;
            gap: 3rem;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            align-items: center;

            .icon{
                display: block;
                width: 30px;
                height: 30px;
                margin: 0 auto;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center top;
            }

            h5{
                font-size: .75em;
                color: #56545f;
                margin: 15px 0 2px;
                text-transform: uppercase;
            }

            span{
                font-size: .75em;
                font-weight: 700;
                color: #fff;
                margin: 0 auto;
            }
        }

        
    }

    .col{
        display: -webkit-flex;
        display: flex;
    }

    .textarea{
       width: 550px;
    }

    .text-head{
        display: -webkit-flex;
        display: flex;
        margin-bottom: 20px;
        align-items: center;

        h4{
            color: #fff;
            line-height: 1;
            text-transform: uppercase;
            margin-right: 6rem;
            font-size: .875em;
        }

        ul{
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        li{
            display: -webkit-flex;
            display: flex;
        }
    }

    .jugador__rrss{
        display:flex;
        column-gap: 2rem;

        .fab:hover{
            transform: scale(1.5);
        }

        a{
            color: #fff;
            text-decoration: none;
            display: inline-block;
        }

        &:not(:last-child){
            margin-right: 15px;
        }

    }
}